/* ====================== RESPONSIVE STYLE ====================== */


/* --- Desktop Responsive --- */
        @media (min-width: 768px) {
            .menu-btn {
                display: none;
            }

            nav {
                position: static;
                right: 0;
                width: auto;
                height: auto;
                flex-direction: row;
                background: none;
                box-shadow: none;
                backdrop-filter: none;
                border: none;
                padding-top: 0;
            }

            .close-btn {
                display: none;
            }

            nav a {
                padding: 10px 15px;
                color: white;
                font-size: 1rem;
                // transform: none !important;
            }

            // .overlay {
            //     display: none;
            // }
        }




























/* --- Example Sections --- */
        section {
            height: 100vh;
            padding: 100px 10px;
            text-align: center;
            font-size: 1.5rem;
            color: #111;
        }

        #home {
            background: #fffae6;
        }

        #about {
            background: #d6f5d6;
        }

        #skills {
            background: #d6e0f5;
        }

        #projects {
            background: #f5d6d6;
        }

        #contact {
            background: #d6f5f5;
        }

        #resume {
            background: #f5d6f2;
        }




// @media (min-width: 768px) {
//       .menu-btn {
//         display: none;
//       }

//       nav {
//         position: static;
//         left: 0;
//         width: auto;
//         height: auto;
//         flex-direction: row;
//         background: none;
//         padding-top: 0;
//       }

//       nav a {
//         color: white;
//         padding: 10px 15px;
//       }

//       .overlay {
//         display: none;
//       }
//     }

// @media (max-width: 768px) {

//     .header .toggle {
//         display: block;
//     }

//     .navbar{
//         display: none;
//     }



// }