/* .main_div{
    border: 1px solid black;
    height: 200px;
    width: 80px;
}

.main_div div{
    border: 1px solid black;
    height: 50px;
    width: 50px;
    margin: 10px;
    border-radius: 50%;
}

.main_div .light_1{
    background-color: red;
}

.main_div .light_2{
    background-color: yellow;
}

.light_3{
    background-color: green ;
} */